<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title}, ~{::script})}">
<head>
    <title>
        Services Page
    </title>
</head>
<body>
    <section id="content">
        <h1>Welcome to Services Page</h1>
        <h2>Services offered by scm</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe commodi quas deleniti explicabo velit repellat perferendis autem id ratione aperiam?</p>
    </section>
    <script>
        console.log("Services Page");
    </script>
</body>
</html>